* {
	scroll-behavior: smooth;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	width: 100%;
}
.contenedor {
	width: 100%;
	height: 100vh;
	background-image: url(pexels-junior-teixeira-2047905\ \(1\).jpg);
	background-position: center;
	background-size: cover;
	
}

.header {
	background-color:black ;
	height: 100px;
	display: flex;
	background: linear-gradient(180deg,rgba(0,0,0)rgba(0,0,0));
	overflow: hidden
}
.logo {
	width: 20%;
	padding-left: 100px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.nav-bar {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 0px;
	justify-content: end;
}
.nav-link {
	color: #fff;
	padding: 70px 20px;
	text-decoration: none;
	font-size: 20px;
}
.nav-link:hover{
	background-color: rgba(105, 105, 116, 0.8);
	color: #fff
}
.presentacion {
width: 100%;
height: calc(100vh-100px);
display: flex;
justify-content: start;
align-items: center;

}
.presentxt{
	color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
}
.texx {
	font-size: 100px;
}
.tepp {
	font-size: 36px;
	margin: 20px 0 75px 0;
}
.button-contacts{
	background-color: #f64b3c;
	width: 30%;
	text-align: center;
	color: #fff;
	padding: 20px ;
	text-decoration: none;
	font-size: 24px;
	border-radius: 30px;

}
.button-contacts:hover {
	background-color: #fff;
	color: #f64b3c;
}

.cont1 {
height: 80vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: black;

}
.title.cont1 {
	font-size: 49px;	
}
.slides
{
width: 70%;
height: 70%; 
display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.webs{
	background-color: #fff;
	width: 30%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	padding: 12px 25px ;
}
.ejimg{
	width: 30%;
}
.cont2 {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
}
.Servicio1 {
	width: 40%;
	margin-right: 15px;
	
}

.conte-img{
	width: 30%;
	
}

.Servicio1 h2  {
	margin-bottom: 15px;
	
}
.Servicio1 p {
	margin-bottom: 100px;
}
.button-contacts2{
	background-color: rgb(11, 3, 56, 1);
	width: 30%;
	text-align: center;
	color: #fff;
	padding: 20px ;
	text-decoration: none;
	font-size: 20px;
	border-radius: 8px;
}
.button-contacts2:hover {
	background-color: #9eb2c5f3;
	color: #fff;
}
.sect3{
	width: 100%;
	height: 50vh;
}
.Trabajos {
text-align: center;

}
.imgs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px 450px;
}

/* FORMULARIO */ 